.linechart-card{
    margin: 20px 0;
    width: 50%;
    min-width: 540px;
   
    .linechart-nav {
    
        font-weight: bold;
    }
    .linechart-calendar{
        position: relative;
       z-index: 20;
    }
    
}
