.back-btn {
	font-size: 16px;
    padding:12px 0 12px 24px;

    &:hover{
        cursor: pointer;
    }
	.back-icon {
		color: blue;
	}
	.back-text {
        font-size: 14px;
        margin-left: 8px;
		font-weight: 600;
        transition: all 0.1s;
        &:hover{
            color: blue;
        }
	}
}
