/* 自定义 antd 默认样式 */
/* 需要自定义覆盖的样式 */
body {
  background-color: #ffffff !important;
}
body #driver-highlighted-element-stage {
  background-color: #fff !important;
}
/* login container（先固定样式） */
.login-container {
  background-color: #eeeeee !important;
}
.login-container .login-box {
  background-color: hsla(0, 0%, 100%, 0.8) !important;
}
.login-container .login-box .login-form {
  background-color: transparent !important;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2) !important;
}
.login-container .login-box .login-form .login-logo .logo-text {
  color: #475768 !important;
}
.login-container .login-box .login-form .login-btn .ant-btn-default {
  color: #606266 !important;
}
/* container */
.container {
  /* sider */
  /* layout */
}
.container .ant-layout-sider {
  border-right: 1px solid #e4e7ed !important;
}
.container .ant-layout-sider .ant-menu::-webkit-scrollbar {
  background-color: #001529 !important;
}
.container .ant-layout-sider .ant-menu::-webkit-scrollbar-thumb {
  background-color: #41444b !important;
}
.container .ant-layout-sider .logo-box {
  border-bottom: 1px solid #010b14 !important;
}
.container .ant-layout {
  background-color: #f0f2f5 !important;
}
.container .ant-layout .tabs,
.container .ant-layout .footer,
.container .ant-layout .card {
  background-color: #ffffff !important;
  border-color: #e4e7ed !important;
}
.container .ant-layout .ant-layout-header {
  height: 55px;
  padding: 0 40px 0 20px;
  background-color: #ffffff !important;
  border-color: #f6f6f6 !important;
}
.container .ant-layout .ant-layout-header .icon-style,
.container .ant-layout .ant-layout-header .username {
  color: rgba(0, 0, 0, 0.85) !important;
}
.container .ant-layout .footer a {
  color: rgba(0, 0, 0, 0.85) !important;
}
.container .ant-layout .card {
  box-shadow: 0 0 12px #0000000d !important;
}
.container .ant-layout .card .text {
  color: #585858 !important;
}
.container .ant-layout .ant-layout-content::-webkit-scrollbar {
  background-color: #f0f2f5 !important;
}
.container .ant-layout .ant-layout-content::-webkit-scrollbar-thumb {
  background-color: #dddee0 !important;
}
.container .ant-layout .ant-layout-content .card::-webkit-scrollbar {
  background-color: #ffffff !important;
}
.container .ant-layout .ant-layout-content .card::-webkit-scrollbar-thumb {
  background-color: #dddee0 !important;
}
